# BIP-39 Mnemonic (12 atau 24 kata, dipisahkan spasi)
# CATATAN: HANYA GUNAKAN SEED TESTNET! JANGAN PERNAH MENGGUNAKAN SEED MAINNET/PRODUKSI!
MNEMONIC=

# Custom RPC URLs (opsional, kosongkan untuk menggunakan default RPC publik)
ETH_SEPOLIA_RPC=
POLYGON_AMOY_RPC=
SOLANA_DEVNET_RPC=
XRPL_TESTNET_RPC=
BITCOIN_SIGNET_EXPLORER=
BITCOIN_TESTNET4_EXPLORER=
